<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Sentimental Analysis</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/static/style1.css' %}" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <center><h1> Sentiment Analysis </h1></center>
	<center>	 
	<ul>
	  <li><a href="normalres.html">Dynamic Streaming</a></li>
	  <li><a href="textword.html">Sentiment for text</a></li>
	  <li><a href="keyword.html">Streaming with keyword</a></li>	
	</ul>
<h3 class="line"></h3>
</center>
<table>
<tr>
<td>
<h3 class="line1"> We apply text and sentiment analysis to the tweets and stream real-time tweets along with their sentiment to you.</h3>
</td><td>
<h3 class="line2">This website empowers you to find the treands of an organization,product or a person on social media(currently twitter).</h3>
</td></tr>
</table>
</body>
</html>                                		
